<?xml version='1.0' encoding='utf-8'?>
<widget id="cordova.app.start" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NewApp</name>
    <description>
        A new app
    </description>
    <author email="mihail@bazarow.ru" href="https://camouf.ru">
       Mihail Bazarow
    </author>

    <icon src="DATAS/src/ico.png" /><!-- Не забудте добавить иконку 1024 на 1024 png -->
    <splash src="DATAS/src/Default@2x~universal~anyany.png" />

    <content src="https://app.site.ru/index.php" />
    <allow-navigation href="https://app.site.ru/*" />

    <plugin name="cordova-plugin-whitelist" spec="1" />

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />


    <preference name="Orientation" value="portrait" />
    <preference name="LoadUrlTimeoutValue" value="1000000" />
    <preference name="CRIPageLoadPromptInterval" value="200" />

    <!--plugin name="cordova-plugin-firebasex"> // UNCOMMENT FOR USE FIREBASE
        <variable name="ANDROID_FIREBASE_CONFIG_FILEPATH" value="google-services.json" />
        <variable name="IOS_FIREBASE_CONFIG_FILEPATH" value="GoogleService-Info.plist" />
    </plugin-->

    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidXEnabled" value="true" />
    </platform>

     <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="scheme" value="app" />
        <preference name="hostname" value="localhost" />
        <preference name="WKWebViewOnly" value="true" />
    </platform>

    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="scheme" value="app" />
        <preference name="hostname" value="localhost" />
        <config-file parent="NSMicrophoneUsageDescription" target="*-Info.plist">
            <string>Причина использования микрофона.</string>
        </config-file>
        <config-file parent="NSSpeechRecognitionUsageDescription" target="*-Info.plist">
            <string>Причина использования записи.</string>
        </config-file>
    </platform>

</widget>
